{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-header">
                    Page d'accueil du Blog
                    <small></small>
                </h1>
                {% for post in listPosts %}
	                <h2>
	                    <a href="{{ path('projetblog_getpostpage', {'id': post.id}) }}">{{post.title}}</a>
	                </h2>
	                <p><span class="glyphicon glyphicon-time"></span>Publié le {{ post.published|date("d/m/Y") }}</p>
	                <hr>
	                {#<img class="img-responsive" src="http://placehold.it/900x300" alt="">
	                <hr>#}
	                <p>{{post.content}}</p>
	                <a class="btn btn-primary" href="#">Voir plus <span class="glyphicon glyphicon-chevron-right"></span></a>

	                <hr>
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">
                	{% if cpt != 1 %}
	                    <li class="previous">
	                        <a href="#">&larr; Plus récents</a>
	                    </li>
                    {% endif %}
                    {% if (cpt+1)*10 < nbrPostTotal %}
	                    <li class="next">
	                        <a href="#">Plus vieux &rarr;</a>
	                    </li>
	                {% endif %}
                </ul>

            </div>
            {{ include('header.html.twig') }}


        </div>
        <!-- /.row -->

        <hr>

    </div>
{% endblock %}