{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
                <h1 class="page-header">
                    Mes articles
                    <a class="pull-right" href="{{ path('blog_newpostpage')}}"><i class="glyphicon glyphicon-plus"></i></a>
                    <small></small>
                </h1>
                <div class="row">

                    <div class="col-md-12 pull-left">

                        {% if listPosts is defined and listPosts|length != 0 %}
                          {% for i in 0..listPosts|length-1 %}
                              {% if i is divisible by(2) or i == 0 %}
                                  <div class="row row-eq-height" style="height:100%;">

                              {% endif %}
                              <div class="col-md-6 pull-right">
              	                <h2>
              	                    <a href="{{ path('blog_getpostpage', {'id': listPosts[i].id}) }}">{{listPosts[i].title}}</a>
              	                </h2>
              	                <p><span class="glyphicon glyphicon-time"></span> Publié le {{ listPosts[i].published|date("d/m/Y") }} | <span class="glyphicon glyphicon-user"></span> Écrit par {{ listPosts[i].author.username}}</p>
              	                <hr>
              	                {#<img class="img-responsive" src="http://placehold.it/900x300" alt="">
              	                <hr>#}
              	                <p>{{listPosts[i].content | truncate(400, true, '...') |  nl2br}}</p>
                                <hr>
                                <div class="center-block">
                	                <a class="btn btn-primary" href="{{ path('blog_getpostpage', {'id': listPosts[i].id}) }}"> Visualiser <span class="glyphicon glyphicon-chevron-right"></span></a>
                                  <a class="btn btn-success" href="{{ path('blog_getpostpage', {'id': listPosts[i].id}) }}"> <span><i class="glyphicon glyphicon-edit"></i></span> Modifier </a>
                                  <a class="btn btn-danger" href="{{ path('blog_getpostpage', {'id': listPosts[i].id}) }}"> <span><i class="glyphicon glyphicon-trash"></i></span> Supprimer </a>
                                </div>
                              </div>
                              <hr>
                              {% if i is not divisible by(2) and i != 0 %}

                              </div>

                              {% endif %}
                          {% endfor %}
                        {% else %}
                          <h3>Vous n'avez pas encore rédiger d'articles.</h1>
                        {% endif %}
                        </div>
                <!-- Pager -->
                        <ul class="pager">
                        	{% if cpt != 1  and listPosts is defined and listPosts|length != 0 %}
        	                    <li class="previous">
        	                        <a href="#">&larr; Plus récents</a>
        	                    </li>
                            {% endif %}
                            {% if (cpt+1)*10 < nbrPostTotal %}
        	                    <li class="next">
        	                        <a href="#">Plus vieux &rarr;</a>
        	                    </li>
        	                {% endif %}
                        </ul>



                </div>
        <!-- /.row -->

        <hr>

    </div>
{% endblock %}
