{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
      <div class="page-header">
        <h1>{{post.title}}</h1>
        <small>  <p><span class="glyphicon glyphicon-time"></span>Publié le {{ post.published|date("d/m/Y") }} | <span class="glyphicon glyphicon-user"></span> Écrit par {{ post.author.username}}</p></small>
      </div>
      <div class="row">
          <div class="col-md-4 pull-right">
               <div class="well">
                   <h4>Description du blog</h4>
                   <p>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu. iamque artuum et membrorum divulsa conpage superscandentes corpora mortuorum ad ultimam truncata deformitatem velut exsaturati mox abiecerunt in flumen.

                   Quod cum ita sit, paucae domus studiorum seriis cultibus antea celebratae nunc ludibriis ignaviae torpentis exundant, vocali sonu, perflabili tinnitu fidium resultantes. denique pro philosopho cantor et in locum oratoris doctor artium ludicrarum accitur et bybliothecis sepulcrorum ritu in perpetuum clausis organa fabricantur hydraulica, et lyrae ad speciem carpentorum ingentes tibiaeque et histrionici gestus instrumenta non levia.</p>
               </div>
           </div>
            <div class="col-md-8 pull-left">
                <p class="lead">{{post.content | nl2br}}</p>
                <hr>

                <div class="well">
                    <h4>Laissez un commentaire:</h4>
                      {% if app.user %}
                      	<form id="signupform"  action="{{ path("blog_getpostpage", {'id' : post.id}) }}" method="post" role="form">
                          <div class="form-group">
                              {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'rows':'3' } }) }}
                          </div>
                          {{ form_widget(form.save, {'attr' : {'class': 'btn btn-primary'}})}}
                          {{ form_rest(form) }}
                       </form>
                      {% else %}
                        <h4><a> Connectez vous</a> pour pouvoir commenter </h4>
                      {% endif %}
                </div>
                <div class="page-header">
                    <h1><small class="pull-right">{{post.comments|length}}</small> Commentaires </h1>
                </div>
                <div class="comments-list">
                {% if post.comments is defined and  post.comments|length != 0 %}
                  {% for i in 0..post.comments|length-1 %}
                    <div class="media">
                      <p class="pull-right"><small>Posté le {{post.comments[i].commentDate| date("d/m/Y")}}</small></p>
                      <img src="">
                      <div class="media-body">
                          <h4 class="media-heading user_name">{{post.comments[i].author.username}}</h4>
                          {{post.comments[i].content}}
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                    <h3>Soyez le premier à commenter cet article</h3>
                {% endif %}
                </div>
              </div>
          </div>
        <!-- /.row -->

        <hr>

    </div>
{% endblock %}
